<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-dark sidebar full-height fixed-sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="navbar-brand text-secondary font-weight-bold" href="/me/feed">FitLife</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-secondary" href="/me/feed">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed text-secondary" data-toggle="collapse" href="#submenu">
                            Groups
                        </a>
                        <div class="collapse" id="submenu">
                            <ul class="nav flex-column">
                                <% data.user.groups.forEach(group => { %>
                                    <li class="nav-item">
                                        <a class="nav-link ml-3 text-secondary" href="/group/show/<%=group._id%>"><%=group.name%></a>
                                    </li>
                                <% }) %> 
                                <li class="nav-item">
                                    <a class="nav-link ml-3 text-secondary" href="/group/create">
                                        <i class="bi bi-plus"></i> Create group
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="/me/settings">Account Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="/me/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="/search/search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="/login/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 p-3 main-content">
            <%- include(pageBody, { data: data }) %>
        </main>
    </div>
</div>

<!-- Include jQuery and Bootstrap JS for collapse functionality -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
