<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <form action="/add_post" method="post">
        <input name="title">
        <input name="content">
        <input type="submit">
    </form>
  </body>
</html>