<div class="row">
    <div class="col-md-6 offset-md-3">    
    <h3>Create a new group</h3>
    <form action="/group/create" method="post">
      <div class="form-group">
          <label for="title">Name</label>
          <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="title">Tags</label>
        <input type="text" class="form-control" id="tags" name="tags" required>
        <small class="form-text text-muted">
            Add tags by typeing '#' before each tag
        </small>
    </div>
      <div class="form-group">
        <label for="content">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary">Create group</button>
    </form>
  </div>
  